@layer components {
  .bc-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .bc-icon--xs {
    width: 0.75rem;
    height: 0.75rem;
  }

  .bc-icon--sm {
    width: 1rem;
    height: 1rem;
  }

  .bc-icon--md {
    width: 1.25rem;
    height: 1.25rem;
  }

  .bc-icon--lg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .bc-icon--xl {
    width: 2rem;
    height: 2rem;
  }

  .bc-icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}
