@import '@milkdown/crepe/theme/common/style.css';

@layer components {
  .bc-milkdown-editor-container .milkdown {
    --crepe-color-background: transparent;
    --crepe-color-on-background: #1b1c1d;
    --crepe-color-surface: #f8f9ff;
    --crepe-color-surface-low: #f2f3fa;
    --crepe-color-on-surface: #191c20;
    --crepe-color-on-surface-variant: #43474e;
    --crepe-color-outline: #73777f;
    --crepe-color-primary: #37618e;
    --crepe-color-secondary: #d7e3f8;
    --crepe-color-on-secondary: #101c2b;
    --crepe-color-inverse: #2e3135;
    --crepe-color-on-inverse: #eff0f7;
    --crepe-color-inline-code: #ba1a1a;
    --crepe-color-error: #ba1a1a;
    --crepe-color-hover: #eceef4;
    --crepe-color-selected: #e1e2e8;
    --crepe-color-inline-area: #d8dae0;

    --crepe-font-title: Inter, Arial, Helvetica, sans-serif;
    --crepe-font-default: Inter, Arial, Helvetica, sans-serif;
    --crepe-font-code:
      'JetBrains Mono', Menlo, Monaco, 'Courier New', Courier, monospace;

    --crepe-shadow-1:
      0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    --crepe-shadow-2:
      0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  }

  .b-dark .bc-milkdown-editor-container .milkdown {
    --crepe-color-background: transparent;
    --crepe-color-on-background: #f8f9ff;
    --crepe-color-surface: #111418;
    --crepe-color-surface-low: #191c20;
    --crepe-color-on-surface: #e1e2e8;
    --crepe-color-on-surface-variant: #c3c6cf;
    --crepe-color-outline: #8d9199;
    --crepe-color-primary: #a1c9fd;
    --crepe-color-secondary: #3c4858;
    --crepe-color-on-secondary: #d7e3f8;
    --crepe-color-inverse: #e1e2e8;
    --crepe-color-on-inverse: #2e3135;
    --crepe-color-inline-code: #ffb4ab;
    --crepe-color-error: #ffb4ab;
    --crepe-color-hover: #1d2024;
    --crepe-color-selected: #32353a;
    --crepe-color-inline-area: #111418;
  }
}

.bc-milkdown-editor-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

.bc-milkdown-editor-container .milkdown {
  background-color: #eee;
  padding: 1rem;
  border-radius: var(--radius-md, 0.5rem);
  height: 100%;
}

.bc-milkdown-editor-container .milkdown .ProseMirror {
  padding: 1rem;
  margin-top: 1.1rem;
  margin-inline-start: 5.5rem;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: var(--shadow-md);
  max-height: calc(100% - 3rem);
  overflow: auto;
}
