@layer components {
  /* solid */
  .bu-border--primary {
    border-color: var(--color-primary-500);
  }
  .bu-border--secondary {
    border-color: var(--color-secondary-500);
  }
  .bu-border--base {
    border-color: var(--color-base-500);
  }
  .bu-border--success {
    border-color: var(--color-success-500);
  }
  .bu-border--warning {
    border-color: var(--color-warning-500);
  }
  .bu-border--error {
    border-color: var(--color-error-500);
  }
  .bu-border--info {
    border-color: var(--color-info-500);
  }
  .bu-border--white {
    border-color: var(--text-inverse-light);
  }
  .bu-border--black {
    border-color: black;
  }
  .bu-border--transparent {
    border-color: transparent;
    color: inherit;
  }
  .bu-border--red {
    border-color: var(--color-red-500);
  }
  .bu-border--orange {
    border-color: var(--color-orange-500);
  }
  .bu-border--amber {
    border-color: var(--color-amber-500);
  }
  .bu-border--yellow {
    border-color: var(--color-yellow-500);
  }
  .bu-border--lime {
    border-color: var(--color-lime-500);
  }
  .bu-border--green {
    border-color: var(--color-green-500);
  }
  .bu-border--emerald {
    border-color: var(--color-emerald-500);
  }
  .bu-border--teal {
    border-color: var(--color-teal-500);
  }
  .bu-border--cyan {
    border-color: var(--color-cyan-500);
  }
  .bu-border--sky {
    border-color: var(--color-sky-500);
  }
  .bu-border--blue {
    border-color: var(--color-blue-500);
  }
  .bu-border--indigo {
    border-color: var(--color-indigo-500);
  }
  .bu-border--violet {
    border-color: var(--color-violet-500);
  }
  .bu-border--purple {
    border-color: var(--color-purple-500);
  }
  .bu-border--fuchsia {
    border-color: var(--color-fuchsia-500);
  }
  .bu-border--pink {
    border-color: var(--color-pink-500);
  }
  .bu-border--rose {
    border-color: var(--color-rose-500);
  }
  .bu-border--slate {
    border-color: var(--color-slate-500);
  }
  .bu-border--gray {
    border-color: var(--color-gray-500);
  }
  .bu-border--zinc {
    border-color: var(--color-zinc-500);
  }
  .bu-border--neutral {
    border-color: var(--color-neutral-500);
  }
  .bu-border--stone {
    border-color: var(--color-stone-500);
  }


  .b-dark .bu-border--primary {
    border-color: var(--color-primary-600);
  }
  .b-dark .bu-border--secondary {
    border-color: var(--color-secondary-600);
  }
  .b-dark .bu-border--base {
    border-color: var(--color-base-600);
  }
  .b-dark .bu-border--success {
    border-color: var(--color-success-600);
  }
  .b-dark .bu-border--warning {
    border-color: var(--color-warning-600);
  }
  .b-dark .bu-border--error {
    border-color: var(--color-error-600);
  }
  .b-dark .bu-border--info {
    border-color: var(--color-info-600);
  }
  .b-dark .bu-border--red {
    border-color: var(--color-red-600);
  }
  .b-dark .bu-border--orange {
    border-color: var(--color-orange-600);
  }
  .b-dark .bu-border--amber {
    border-color: var(--color-amber-600);
  }
  .b-dark .bu-border--yellow {
    border-color: var(--color-yellow-600);
  }
  .b-dark .bu-border--lime {
    border-color: var(--color-lime-600);
  }
  .b-dark .bu-border--green {
    border-color: var(--color-green-600);
  }
  .b-dark .bu-border--emerald {
    border-color: var(--color-emerald-600);
  }
  .b-dark .bu-border--teal {
    border-color: var(--color-teal-600);
  }
  .b-dark .bu-border--cyan {
    border-color: var(--color-cyan-600);
  }
  .b-dark .bu-border--sky {
    border-color: var(--color-sky-600);
  }
  .b-dark .bu-border--blue {
    border-color: var(--color-blue-600);
  }
  .b-dark .bu-border--indigo {
    border-color: var(--color-indigo-600);
  }
  .b-dark .bu-border--violet {
    border-color: var(--color-violet-600);
  }
  .b-dark .bu-border--purple {
    border-color: var(--color-purple-600);
  }
  .b-dark .bu-border--fuchsia {
    border-color: var(--color-fuchsia-600);
  }
  .b-dark .bu-border--pink {
    border-color: var(--color-pink-600);
  }
  .b-dark .bu-border--rose {
    border-color: var(--color-rose-600);
  }
  .b-dark .bu-border--slate {
    border-color: var(--color-slate-600);
  }
  .b-dark .bu-border--gray {
    border-color: var(--color-gray-600);
  }
  .b-dark .bu-border--zinc {
    border-color: var(--color-zinc-600);
  }
  .b-dark .bu-border--neutral {
    border-color: var(--color-neutral-600);
  }
  .b-dark .bu-border--stone {
    border-color: var(--color-stone-600);
  }

  /* light */
  .bu-border--light-primary {
    border-color: var(--color-primary-200);
  }
  .bu-border--light-secondary {
    border-color: var(--color-secondary-200);
  }
  .bu-border--light-base {
    border-color: var(--color-base-200);
  }
  .bu-border--light-success {
    border-color: var(--color-success-200);
  }
  .bu-border--light-warning {
    border-color: var(--color-warning-200);
  }
  .bu-border--light-error {
    border-color: var(--color-error-200);
  }
  .bu-border--light-info {
    border-color: var(--color-info-200);
  }
  .bu-border--light-white {
    border-color: var(--text-normal-light);
  }
  .bu-border--light-black {
    border-color: black;
  }
  .bu-border--light-transparent {
    border-color: transparent;
    color: inherit;
  }
  .bu-border--light-red {
    border-color: var(--color-red-200);
  }
  .bu-border--light-orange {
    border-color: var(--color-orange-200);
  }
  .bu-border--light-amber {
    border-color: var(--color-amber-200);
  }
  .bu-border--light-yellow {
    border-color: var(--color-yellow-200);
  }
  .bu-border--light-lime {
    border-color: var(--color-lime-200);
  }
  .bu-border--light-green {
    border-color: var(--color-green-200);
  }
  .bu-border--light-emerald {
    border-color: var(--color-emerald-200);
  }
  .bu-border--light-teal {
    border-color: var(--color-teal-200);
  }
  .bu-border--light-cyan {
    border-color: var(--color-cyan-200);
  }
  .bu-border--light-sky {
    border-color: var(--color-sky-200);
  }
  .bu-border--light-blue {
    border-color: var(--color-blue-200);
  }
  .bu-border--light-indigo {
    border-color: var(--color-indigo-200);
  }
  .bu-border--light-violet {
    border-color: var(--color-violet-200);
  }
  .bu-border--light-purple {
    border-color: var(--color-purple-200);
  }
  .bu-border--light-fuchsia {
    border-color: var(--color-fuchsia-200);
  }
  .bu-border--light-pink {
    border-color: var(--color-pink-200);
  }
  .bu-border--light-rose {
    border-color: var(--color-rose-200);
  }
  .bu-border--light-slate {
    border-color: var(--color-slate-200);
  }
  .bu-border--light-gray {
    border-color: var(--color-gray-200);
  }
  .bu-border--light-zinc {
    border-color: var(--color-zinc-200);
  }
  .bu-border--light-neutral {
    border-color: var(--color-neutral-200);
  }
  .bu-border--light-stone {
    border-color: var(--color-stone-200);
  }

  /* light dark */
  .b-dark .bu-border--light-primary {
    border-color: var(--color-primary-800);
  }
  .b-dark .bu-border--light-secondary {
    border-color: var(--color-secondary-800);
  }
  .b-dark .bu-border--light-base {
    border-color: var(--color-base-800);
  }
  .b-dark .bu-border--light-success {
    border-color: var(--color-success-800);
  }
  .b-dark .bu-border--light-warning {
    border-color: var(--color-warning-800);
  }
  .b-dark .bu-border--light-error {
    border-color: var(--color-error-800);
  }
  .b-dark .bu-border--light-info {
    border-color: var(--color-info-800);
  }
  .b-dark .bu-border--light-white {
    border-color: var(--text-normal-dark);
  }
  .b-dark .bu-border--light-black {
    border-color: black;
  }
  .b-dark .bu-border--light-transparent {
    border-color: transparent;
    color: inherit;
  }
  .b-dark .bu-border--light-red {
    border-color: var(--color-red-800);
  }
  .b-dark .bu-border--light-orange {
    border-color: var(--color-orange-800);
  }
  .b-dark .bu-border--light-amber {
    border-color: var(--color-amber-800);
  }
  .b-dark .bu-border--light-yellow {
    border-color: var(--color-yellow-800);
  }
  .b-dark .bu-border--light-lime {
    border-color: var(--color-lime-800);
  }
  .b-dark .bu-border--light-green {
    border-color: var(--color-green-800);
  }
  .b-dark .bu-border--light-emerald {
    border-color: var(--color-emerald-800);
  }
  .b-dark .bu-border--light-teal {
    border-color: var(--color-teal-800);
  }
  .b-dark .bu-border--light-cyan {
    border-color: var(--color-cyan-800);
  }
  .b-dark .bu-border--light-sky {
    border-color: var(--color-sky-800);
  }
  .b-dark .bu-border--light-blue {
    border-color: var(--color-blue-800);
  }
  .b-dark .bu-border--light-indigo {
    border-color: var(--color-indigo-800);
  }
  .b-dark .bu-border--light-violet {
    border-color: var(--color-violet-800);
  }
  .b-dark .bu-border--light-purple {
    border-color: var(--color-purple-800);
  }
  .b-dark .bu-border--light-fuchsia {
    border-color: var(--color-fuchsia-800);
  }
  .b-dark .bu-border--light-pink {
    border-color: var(--color-pink-800);
  }
  .b-dark .bu-border--light-rose {
    border-color: var(--color-rose-800);
  }
  .b-dark .bu-border--light-slate {
    border-color: var(--color-slate-800);
  }
  .b-dark .bu-border--light-gray {
    border-color: var(--color-gray-800);
  }
  .b-dark .bu-border--light-zinc {
    border-color: var(--color-zinc-800);
  }
  .b-dark .bu-border--light-neutral {
    border-color: var(--color-neutral-800);
  }
  .b-dark .bu-border--light-stone {
    border-color: var(--color-stone-800);
  }
}
