@layer components {
  /* solid */
  .bu-fg--primary {
    color: var(--color-primary-600);
  }
  .bu-fg--secondary {
    color: var(--color-secondary-600);
  }
  .bu-fg--base {
    color: var(--color-base-600);
  }
  .bu-fg--success {
    color: var(--color-success-600);
  }
  .bu-fg--warning {
    color: var(--color-warning-600);
  }
  .bu-fg--error {
    color: var(--color-error-600);
  }
  .bu-fg--info {
    color: var(--color-info-600);
  }
  .bu-fg--white {
    color: var(--color-white);
  }
  .bu-fg--black {
    color: var(--color-black);
  }
  .bu-fg--transparent {
    color: inherit;
  }
  .bu-fg--red {
    color: var(--color-red-600);
  }
  .bu-fg--orange {
    color: var(--color-orange-600);
  }
  .bu-fg--amber {
    color: var(--color-amber-600);
  }
  .bu-fg--yellow {
    color: var(--color-yellow-600);
  }
  .bu-fg--lime {
    color: var(--color-lime-600);
  }
  .bu-fg--green {
    color: var(--color-green-600);
  }
  .bu-fg--emerald {
    color: var(--color-emerald-600);
  }
  .bu-fg--teal {
    color: var(--color-teal-600);
  }
  .bu-fg--cyan {
    color: var(--color-cyan-600);
  }
  .bu-fg--sky {
    color: var(--color-sky-600);
  }
  .bu-fg--blue {
    color: var(--color-blue-600);
  }
  .bu-fg--indigo {
    color: var(--color-indigo-600);
  }
  .bu-fg--violet {
    color: var(--color-violet-600);
  }
  .bu-fg--purple {
    color: var(--color-purple-600);
  }
  .bu-fg--fuchsia {
    color: var(--color-fuchsia-600);
  }
  .bu-fg--pink {
    color: var(--color-pink-600);
  }
  .bu-fg--rose {
    color: var(--color-rose-600);
  }
  .bu-fg--slate {
    color: var(--color-slate-600);
  }
  .bu-fg--gray {
    color: var(--color-gray-600);
  }
  .bu-fg--zinc {
    color: var(--color-zinc-600);
  }
  .bu-fg--neutral {
    color: var(--color-neutral-600);
  }
  .bu-fg--stone {
    color: var(--color-stone-600);
  }

  .b-dark .bu-fg--primary {
    color: var(--color-primary-400);
  }
  .b-dark .bu-fg--secondary {
    color: var(--color-secondary-400);
  }
  .b-dark .bu-fg--base {
    color: var(--color-base-400);
  }
  .b-dark .bu-fg--success {
    color: var(--color-success-400);
  }
  .b-dark .bu-fg--warning {
    color: var(--color-warning-400);
  }
  .b-dark .bu-fg--error {
    color: var(--color-error-400);
  }
  .b-dark .bu-fg--info {
    color: var(--color-info-400);
  }
  .b-dark .bu-fg--red {
    color: var(--color-red-400);
  }
  .b-dark .bu-fg--orange {
    color: var(--color-orange-400);
  }
  .b-dark .bu-fg--amber {
    color: var(--color-amber-400);
  }
  .b-dark .bu-fg--yellow {
    color: var(--color-yellow-400);
  }
  .b-dark .bu-fg--lime {
    color: var(--color-lime-400);
  }
  .b-dark .bu-fg--green {
    color: var(--color-green-400);
  }
  .b-dark .bu-fg--emerald {
    color: var(--color-emerald-400);
  }
  .b-dark .bu-fg--teal {
    color: var(--color-teal-400);
  }
  .b-dark .bu-fg--cyan {
    color: var(--color-cyan-400);
  }
  .b-dark .bu-fg--sky {
    color: var(--color-sky-400);
  }
  .b-dark .bu-fg--blue {
    color: var(--color-blue-400);
  }
  .b-dark .bu-fg--indigo {
    color: var(--color-indigo-400);
  }
  .b-dark .bu-fg--violet {
    color: var(--color-violet-400);
  }
  .b-dark .bu-fg--purple {
    color: var(--color-purple-400);
  }
  .b-dark .bu-fg--fuchsia {
    color: var(--color-fuchsia-400);
  }
  .b-dark .bu-fg--pink {
    color: var(--color-pink-400);
  }
  .b-dark .bu-fg--rose {
    color: var(--color-rose-400);
  }
  .b-dark .bu-fg--slate {
    color: var(--color-slate-400);
  }
  .b-dark .bu-fg--gray {
    color: var(--color-gray-400);
  }
  .b-dark .bu-fg--zinc {
    color: var(--color-zinc-400);
  }
  .b-dark .bu-fg--neutral {
    color: var(--color-neutral-400);
  }
  .b-dark .bu-fg--stone {
    color: var(--color-stone-400);
  }

  /* light */
  .bu-fg--light-primary {
    color: var(--color-primary-600);
  }
  .bu-fg--light-secondary {
    color: var(--color-secondary-600);
  }
  .bu-fg--light-base {
    color: var(--color-base-600);
  }
  .bu-fg--light-success {
    color: var(--color-success-600);
  }
  .bu-fg--light-warning {
    color: var(--color-warning-600);
  }
  .bu-fg--light-error {
    color: var(--color-error-600);
  }
  .bu-fg--light-info {
    color: var(--color-info-600);
  }
  .bu-fg--light-white {
    color: var(--color-white);
  }
  .bu-fg--light-black {
    color: var(--color-black);
  }
  .bu-fg--light-transparent {
    color: inherit;
  }
  .bu-fg--light-red {
    color: var(--color-red-600);
  }
  .bu-fg--light-orange {
    color: var(--color-orange-600);
  }
  .bu-fg--light-amber {
    color: var(--color-amber-600);
  }
  .bu-fg--light-yellow {
    color: var(--color-yellow-600);
  }
  .bu-fg--light-lime {
    color: var(--color-lime-600);
  }
  .bu-fg--light-green {
    color: var(--color-green-600);
  }
  .bu-fg--light-emerald {
    color: var(--color-emerald-600);
  }
  .bu-fg--light-teal {
    color: var(--color-teal-600);
  }
  .bu-fg--light-cyan {
    color: var(--color-cyan-600);
  }
  .bu-fg--light-sky {
    color: var(--color-sky-600);
  }
  .bu-fg--light-blue {
    color: var(--color-blue-600);
  }
  .bu-fg--light-indigo {
    color: var(--color-indigo-600);
  }
  .bu-fg--light-violet {
    color: var(--color-violet-600);
  }
  .bu-fg--light-purple {
    color: var(--color-purple-600);
  }
  .bu-fg--light-fuchsia {
    color: var(--color-fuchsia-600);
  }
  .bu-fg--light-pink {
    color: var(--color-pink-600);
  }
  .bu-fg--light-rose {
    color: var(--color-rose-600);
  }
  .bu-fg--light-slate {
    color: var(--color-slate-600);
  }
  .bu-fg--light-gray {
    color: var(--color-gray-600);
  }
  .bu-fg--light-zinc {
    color: var(--color-zinc-600);
  }
  .bu-fg--light-neutral {
    color: var(--color-neutral-600);
  }
  .bu-fg--light-stone {
    color: var(--color-stone-600);
  }

  /* light dark */
  .b-dark .bu-fg--light-primary {
    color: var(--color-primary-400);
  }
  .b-dark .bu-fg--light-secondary {
    color: var(--color-secondary-400);
  }
  .b-dark .bu-fg--light-base {
    color: var(--color-base-400);
  }
  .b-dark .bu-fg--light-success {
    color: var(--color-success-400);
  }
  .b-dark .bu-fg--light-warning {
    color: var(--color-warning-400);
  }
  .b-dark .bu-fg--light-error {
    color: var(--color-error-400);
  }
  .b-dark .bu-fg--light-info {
    color: var(--color-info-400);
  }
  .b-dark .bu-fg--light-white {
    color: var(--color-base-900);
  }
  .b-dark .bu-fg--light-black {
    color: var(--color-black);
  }
  .b-dark .bu-fg--light-transparent {
    color: inherit;
  }
  .b-dark .bu-fg--light-red {
    color: var(--color-red-400);
  }
  .b-dark .bu-fg--light-orange {
    color: var(--color-orange-400);
  }
  .b-dark .bu-fg--light-amber {
    color: var(--color-amber-400);
  }
  .b-dark .bu-fg--light-yellow {
    color: var(--color-yellow-400);
  }
  .b-dark .bu-fg--light-lime {
    color: var(--color-lime-400);
  }
  .b-dark .bu-fg--light-green {
    color: var(--color-green-400);
  }
  .b-dark .bu-fg--light-emerald {
    color: var(--color-emerald-400);
  }
  .b-dark .bu-fg--light-teal {
    color: var(--color-teal-400);
  }
  .b-dark .bu-fg--light-cyan {
    color: var(--color-cyan-400);
  }
  .b-dark .bu-fg--light-sky {
    color: var(--color-sky-400);
  }
  .b-dark .bu-fg--light-blue {
    color: var(--color-blue-400);
  }
  .b-dark .bu-fg--light-indigo {
    color: var(--color-indigo-400);
  }
  .b-dark .bu-fg--light-violet {
    color: var(--color-violet-400);
  }
  .b-dark .bu-fg--light-purple {
    color: var(--color-purple-400);
  }
  .b-dark .bu-fg--light-fuchsia {
    color: var(--color-fuchsia-400);
  }
  .b-dark .bu-fg--light-pink {
    color: var(--color-pink-400);
  }
  .b-dark .bu-fg--light-rose {
    color: var(--color-rose-400);
  }
  .b-dark .bu-fg--light-slate {
    color: var(--color-slate-400);
  }
  .b-dark .bu-fg--light-gray {
    color: var(--color-gray-400);
  }
  .b-dark .bu-fg--light-zinc {
    color: var(--color-zinc-400);
  }
  .b-dark .bu-fg--light-neutral {
    color: var(--color-neutral-400);
  }
  .b-dark .bu-fg--light-stone {
    color: var(--color-stone-400);
  }
}
