@layer components {
  /* solid */
  .bu-text-primary {
    color: var(--color-primary-800);
  }
    .bu-text-secondary {
    color: var(--color-secondary-800);
  }
    .bu-text-base {
    color: var(--color-base-800);
  }
    .bu-text-success {
    color: var(--color-success-800);
  }
    .bu-text-warning {
    color: var(--color-warning-800);
  }
    .bu-text-error {
    color: var(--color-error-800);
  }
    .bu-text-info {
    color: var(--color-info-800);
  }
    .bu-text-white {
    color: var(--color-white);
  }
    .bu-text-black {
    color: var(--color-black);
  }
    .bu-text-transparent {
    color: inherit;
  }
    .bu-text-red {
    color: var(--color-red-800);
  }
    .bu-text-orange {
    color: var(--color-orange-800);
  }
    .bu-text-amber {
    color: var(--color-amber-800);
  }
    .bu-text-yellow {
    color: var(--color-yellow-800);
  }
    .bu-text-lime {
    color: var(--color-lime-800);
  }
    .bu-text-green {
    color: var(--color-green-800);
  }
    .bu-text-emerald {
    color: var(--color-emerald-800);
  }
    .bu-text-teal {
    color: var(--color-teal-800);
  }
    .bu-text-cyan {
    color: var(--color-cyan-800);
  }
    .bu-text-sky {
    color: var(--color-sky-800);
  }
    .bu-text-blue {
    color: var(--color-blue-800);
  }
    .bu-text-indigo {
    color: var(--color-indigo-800);
  }
    .bu-text-violet {
    color: var(--color-violet-800);
  }
    .bu-text-purple {
    color: var(--color-purple-800);
  }
    .bu-text-fuchsia {
    color: var(--color-fuchsia-800);
  }
    .bu-text-pink {
    color: var(--color-pink-800);
  }
    .bu-text-rose {
    color: var(--color-rose-800);
  }
    .bu-text-slate {
    color: var(--color-slate-800);
  }
    .bu-text-gray {
    color: var(--color-gray-800);
  }
    .bu-text-zinc {
    color: var(--color-zinc-800);
  }
    .bu-text-neutral {
    color: var(--color-neutral-800);
  }
    .bu-text-stone {
    color: var(--color-stone-800);
  }

    .b-dark .bu-text-primary {
    color: var(--color-primary-200);
  }
    .b-dark .bu-text-secondary {
    color: var(--color-secondary-200);
  }
    .b-dark .bu-text-base {
    color: var(--color-base-200);
  }
    .b-dark .bu-text-success {
    color: var(--color-success-200);
  }
    .b-dark .bu-text-warning {
    color: var(--color-warning-200);
  }
    .b-dark .bu-text-error {
    color: var(--color-error-200);
  }
    .b-dark .bu-text-info {
    color: var(--color-info-200);
  }
    .b-dark .bu-text-red {
    color: var(--color-red-200);
  }
    .b-dark .bu-text-orange {
    color: var(--color-orange-200);
  }
    .b-dark .bu-text-amber {
    color: var(--color-amber-200);
  }
    .b-dark .bu-text-yellow {
    color: var(--color-yellow-200);
  }
    .b-dark .bu-text-lime {
    color: var(--color-lime-200);
  }
    .b-dark .bu-text-green {
    color: var(--color-green-200);
  }
    .b-dark .bu-text-emerald {
    color: var(--color-emerald-200);
  }
    .b-dark .bu-text-teal {
    color: var(--color-teal-200);
  }
    .b-dark .bu-text-cyan {
    color: var(--color-cyan-200);
  }
    .b-dark .bu-text-sky {
    color: var(--color-sky-200);
  }
    .b-dark .bu-text-blue {
    color: var(--color-blue-200);
  }
    .b-dark .bu-text-indigo {
    color: var(--color-indigo-200);
  }
    .b-dark .bu-text-violet {
    color: var(--color-violet-200);
  }
    .b-dark .bu-text-purple {
    color: var(--color-purple-200);
  }
    .b-dark .bu-text-fuchsia {
    color: var(--color-fuchsia-200);
  }
    .b-dark .bu-text-pink {
    color: var(--color-pink-200);
  }
    .b-dark .bu-text-rose {
    color: var(--color-rose-200);
  }
    .b-dark .bu-text-slate {
    color: var(--color-slate-200);
  }
    .b-dark .bu-text-gray {
    color: var(--color-gray-200);
  }
    .b-dark .bu-text-zinc {
    color: var(--color-zinc-200);
  }
    .b-dark .bu-text-neutral {
    color: var(--color-neutral-200);
  }
    .b-dark .bu-text-stone {
    color: var(--color-stone-200);
  }

  /* light */
    .bu-text-light-primary {
    color: var(--color-primary-600);
  }
    .bu-text-light-secondary {
    color: var(--color-secondary-600);
  }
    .bu-text-light-base {
    color: var(--color-base-600);
  }
    .bu-text-light-success {
    color: var(--color-success-600);
  }
    .bu-text-light-warning {
    color: var(--color-warning-600);
  }
    .bu-text-light-error {
    color: var(--color-error-600);
  }
    .bu-text-light-info {
    color: var(--color-info-600);
  }
    .bu-text-light-white {
    color: var(--color-white);
  }
    .bu-text-light-black {
    color: var(--color-black);
  }
    .bu-text-light-transparent {
    color: inherit;
  }
    .bu-text-light-red {
    color: var(--color-red-600);
  }
    .bu-text-light-orange {
    color: var(--color-orange-600);
  }
    .bu-text-light-amber {
    color: var(--color-amber-600);
  }
    .bu-text-light-yellow {
    color: var(--color-yellow-600);
  }
    .bu-text-light-lime {
    color: var(--color-lime-600);
  }
    .bu-text-light-green {
    color: var(--color-green-600);
  }
    .bu-text-light-emerald {
    color: var(--color-emerald-600);
  }
    .bu-text-light-teal {
    color: var(--color-teal-600);
  }
    .bu-text-light-cyan {
    color: var(--color-cyan-600);
  }
    .bu-text-light-sky {
    color: var(--color-sky-600);
  }
    .bu-text-light-blue {
    color: var(--color-blue-600);
  }
    .bu-text-light-indigo {
    color: var(--color-indigo-600);
  }
    .bu-text-light-violet {
    color: var(--color-violet-600);
  }
    .bu-text-light-purple {
    color: var(--color-purple-600);
  }
    .bu-text-light-fuchsia {
    color: var(--color-fuchsia-600);
  }
    .bu-text-light-pink {
    color: var(--color-pink-600);
  }
    .bu-text-light-rose {
    color: var(--color-rose-600);
  }
    .bu-text-light-slate {
    color: var(--color-slate-600);
  }
    .bu-text-light-gray {
    color: var(--color-gray-600);
  }
    .bu-text-light-zinc {
    color: var(--color-zinc-600);
  }
    .bu-text-light-neutral {
    color: var(--color-neutral-600);
  }
    .bu-text-light-stone {
    color: var(--color-stone-600);
  }

  /* light dark */
    .b-dark .bu-text-light-primary {
    color: var(--color-primary-400);
  }
    .b-dark .bu-text-light-secondary {
    color: var(--color-secondary-400);
  }
    .b-dark .bu-text-light-base {
    color: var(--color-base-400);
  }
    .b-dark .bu-text-light-success {
    color: var(--color-success-400);
  }
    .b-dark .bu-text-light-warning {
    color: var(--color-warning-400);
  }
    .b-dark .bu-text-light-error {
    color: var(--color-error-400);
  }
    .b-dark .bu-text-light-info {
    color: var(--color-info-400);
  }
    .b-dark .bu-text-light-white {
    color: var(--color-base-900);
  }
    .b-dark .bu-text-light-black {
    color: var(--color-black);
  }
    .b-dark .bu-text-light-transparent {
    color: inherit;
  }
    .b-dark .bu-text-light-red {
    color: var(--color-red-400);
  }
    .b-dark .bu-text-light-orange {
    color: var(--color-orange-400);
  }
    .b-dark .bu-text-light-amber {
    color: var(--color-amber-400);
  }
    .b-dark .bu-text-light-yellow {
    color: var(--color-yellow-400);
  }
    .b-dark .bu-text-light-lime {
    color: var(--color-lime-400);
  }
    .b-dark .bu-text-light-green {
    color: var(--color-green-400);
  }
    .b-dark .bu-text-light-emerald {
    color: var(--color-emerald-400);
  }
    .b-dark .bu-text-light-teal {
    color: var(--color-teal-400);
  }
    .b-dark .bu-text-light-cyan {
    color: var(--color-cyan-400);
  }
    .b-dark .bu-text-light-sky {
    color: var(--color-sky-400);
  }
    .b-dark .bu-text-light-blue {
    color: var(--color-blue-400);
  }
    .b-dark .bu-text-light-indigo {
    color: var(--color-indigo-400);
  }
    .b-dark .bu-text-light-violet {
    color: var(--color-violet-400);
  }
    .b-dark .bu-text-light-purple {
    color: var(--color-purple-400);
  }
    .b-dark .bu-text-light-fuchsia {
    color: var(--color-fuchsia-400);
  }
    .b-dark .bu-text-light-pink {
    color: var(--color-pink-400);
  }
    .b-dark .bu-text-light-rose {
    color: var(--color-rose-400);
  }
    .b-dark .bu-text-light-slate {
    color: var(--color-slate-400);
  }
    .b-dark .bu-text-light-gray {
    color: var(--color-gray-400);
  }
    .b-dark .bu-text-light-zinc {
    color: var(--color-zinc-400);
  }
    .b-dark .bu-text-light-neutral {
    color: var(--color-neutral-400);
  }
    .b-dark .bu-text-light-stone {
    color: var(--color-stone-400);
  }
}
