.bu-transition-none {
  transition: none;
}
.bu-transition-all {
  transition: all 0.2s ease-in-out;
}
.bu-transition-color {
  transition: color 0.2s ease-in-out;
}
.bu-transition-bg {
  transition: background-color 0.2s ease-in-out;
}
.bu-transition-border {
  transition: border-color 0.2s ease-in-out;
}
.bu-transition-shadow {
  transition: box-shadow 0.2s ease-in-out;
}
.bu-transition-transform {
  transition: transform 0.2s ease-in-out;
}
