.bc-dropdown__search-input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  padding: var(--spacing-base) calc(var(--spacing-base) * 2);
  margin: 0;
  background-color: var(--color-gray-50);
  border-radius: 0;
  border-bottom: 1px solid var(--color-gray-300);
}

/* Dark mode */
.b-dark .bc-dropdown__search-input {
  background-color: var(--color-base-800);
  border-bottom-color: var(--color-base-600);
}
