.bc-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bc-group--direction-column {
  flex-direction: column;
}

.bc-group--direction-row {
  flex-direction: row;
}

.bc-group--align-start {
  align-items: flex-start;
}

.bc-group--align-center {
  align-items: center;
}

.bc-group--align-end {
  align-items: flex-end;
}

.bc-group--justify-between {
  justify-content: space-between;
}

.bc-group--justify-center {
  justify-content: center;
}

.bc-group--justify-end {
  justify-content: flex-end;
}

.bc-group--gap-0 {
  gap: 0;
}

.bc-group--gap-1 {
  gap: var(--spacing-stack-xs, var(--spacing-sm));
}

.bc-group--gap-2 {
  gap: var(--spacing-stack-sm, var(--spacing-md));
}

.bc-group--gap-4 {
  gap: var(--spacing-stack-lg, var(--spacing-lg));
}

.bc-group--gap-md {
  gap: var(--spacing-stack-md, var(--spacing-mdh));
}

.bc-group--grow {
  flex-grow: 1;
}
