.bc-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  vertical-align: middle;
  box-sizing: content-box;
  color: var(--icon-color, currentColor);
}

.dark .bc-icon {
  color: var(--icon-color-dark, var(--icon-color, currentColor));
}

.bc-icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.bc-icon--xs {
  width: var(--spacing-mdh);
  height: var(--spacing-mdh);
}

.bc-icon--sm {
  width: var(--spacing-lg);
  height: var(--spacing-lg);
}

.bc-icon--md {
  width: calc(var(--spacing-base) * 4.8);
  height: calc(var(--spacing-base) * 4.8);
}

.bc-icon--lg {
  width: var(--spacing-2xl);
  height: var(--spacing-2xl);
}

.bc-icon--xl {
  width: var(--spacing-3xl);
  height: var(--spacing-3xl);
}
