.bc-label {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-normal);
}

.bc-label--emphasis {
  font-weight: var(--font-weight-bold);
}

.bc-label--default {
  font-weight: var(--font-weight-medium);
}

.bc-label--muted {
  font-weight: var(--font-weight-medium);
  opacity: 0.5;
}

.bc-label--danger {
  font-weight: var(--font-weight-medium);
  color: var(--color-danger-500);
}

/* Dark mode styles */
.b-dark .bc-label {
  color: var(--text-normal-dark);
}

.b-dark .bc-label--muted {
  color: var(--text-muted-dark);
}

.b-dark .bc-label--danger {
  color: var(--color-danger-400);
}
