/* export type OverlayEffect = 'transparent' | 'opaque'
export type OverlayMode = 'capturing' | 'non-capturing' */

@layer components {
  .bc-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-overlay);
    transition: background-color 0.3s ease-in-out;
  }

  .bc-overlay[data-status='start-opening'],
  .bc-overlay[data-status='closing'] {
    backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0.0);
  }

  .bc-overlay > * {
    z-index: var(--z-index-overlay);
  }

  .bc-overlay--effect-none {
    background-color: transparent;
  }

  .bc-overlay--effect-transparent {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .bc-overlay--effect-opaque[data-status='opened'],
  .bc-overlay--effect-opaque[data-status='opening'] {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }
}
