@layer components {
  .bc-panel--side-none {
    border: none;
  }

  .bc-panel--side-all {
    border: 1px solid var(--border-border-light);
  }

  .bc-panel--side-top {
    border-top: 1px solid var(--border-border-light);
  }

  .bc-panel--side-bottom {
    border-bottom: 1px solid var(--border-border-light);
  }

  .bc-panel--side-left {
    border-left: 1px solid var(--border-border-light);
  }

  .bc-panel--side-right {
    border-right: 1px solid var(--border-border-light);
  }

  .bc-panel--shadow-sm {
    box-shadow: 0 0 0.25rem 0.125rem var(--shadow-color-light);
  }

  .bc-panel--shadow-md {
    box-shadow: 0 0 0.5rem 0.125rem var(--shadow-color-light);
  }

  .bc-panel--shadow-lg {
    box-shadow: 0 0 1rem 0.25rem var(--shadow-color-light);
  }

  /* Dark mode styles */
  .b-dark .bc-panel--side-all {
    border: 1px solid var(--border-border-dark);
  }

  .b-dark .bc-panel--side-top {
    border-top: 1px solid var(--border-border-dark);
  }

  .b-dark .bc-panel--side-bottom {
    border-bottom: 1px solid var(--border-border-dark);
  }

  .b-dark .bc-panel--side-left {
    border-left: 1px solid var(--border-border-dark);
  }

  .b-dark .bc-panel--side-right {
    border-right: 1px solid var(--border-border-dark);
  }

  .b-dark .bc-panel--shadow-sm {
    box-shadow: 0 0 0.25rem 0.125rem var(--shadow-color-dark),
                0 0 0 1px var(--shadow-highlight-dark);
  }

  .b-dark .bc-panel--shadow-md {
    box-shadow: 0 0 0.5rem 0.125rem var(--shadow-color-dark),
                0 0 0 1px var(--shadow-highlight-dark);
  }

  .b-dark .bc-panel--shadow-lg {
    box-shadow: 0 0 1rem 0.25rem var(--shadow-color-dark),
                0 0 0 1px var(--shadow-highlight-dark);
  }
}
