/* Rating Input Component */
.bc-rating-input {
  display: inline-flex;
  gap: calc(var(--spacing-base) * 1);
}

.bc-rating-input__icon-container {
  position: relative;
  width: calc(var(--spacing-base) * 8);
  height: calc(var(--spacing-base) * 8);
  cursor: pointer;
}

.bc-rating-input__icon-empty,
.bc-rating-input__icon-full,
.bc-rating-input__icon-clipper {
  position: absolute;
  display: block;
  width: calc(var(--spacing-base) * 8);
  height: calc(var(--spacing-base) * 8);
  overflow: hidden;
}
/*
.bc-rating-input__icon-empty {
  opacity: 0.5;
} */
