.bc-stack {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.bc-stack--gap-1 {
  gap: var(--spacing-stack-xs, calc(var(--spacing-base) * 1));
}

.bc-stack--gap-2 {
  gap: var(--spacing-stack-sm, calc(var(--spacing-base) * 2));
}

.bc-stack--gap-4 {
  gap: var(--spacing-stack-lg, calc(var(--spacing-base) * 4));
}

.bc-stack--align-center {
  align-items: center;
}

.bc-stack--grow {
  flex-grow: 1;
  width: 100%;
}
