.bc-stack {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.bc-stack--gap-1 {
  gap: var(--spacing-stack-xs, var(--spacing-sm));
}

.bc-stack--gap-2 {
  gap: var(--spacing-stack-sm, var(--spacing-md));
}

.bc-stack--gap-4 {
  gap: var(--spacing-stack-lg, var(--spacing-lg));
}

.bc-stack--align-center {
  align-items: center;
}

.bc-stack--grow {
  flex-grow: 1;
  width: 100%;
}
